@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        .display-4{
            font-family:'Arial Nova', Arial, sans-serif;
            font-weight: bold; /* Zorgt ervoor dat de tekst vetgedrukt is */
        }

        .btn-custom{
             padding: 1em 2em;
            background-color: #81BA27;
            color: white;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            font-size: 1em;
            margin: 1em;
            transition: background-color 0.3s ease, transform 0.2s ease; /* Animatie voor een vloeiende overgang */
        }
        .btn-custom:hover {
        background-color: #1c94d4; /* Donkerdere groen op hover */
        transform: scale(1.05); /* Licht vergroten */
        color: #f9f9f9; /* Optioneel: kleur aanpassen op hover */
    </style>
</head>

<body>

    <div class="text-center">
        <h1 class="display-4">Welkom</h1>
        
        <!-- Add space -->
        <div class="spacer"></div>

        <!-- Link to Machine List -->
        <a asp-controller="Machine" asp-action="Index" class="btn btn-custom">Machine List</a>
    </div>

    
    
</body>
</html>
