@model Project.Models.MachineModel

@{
    ViewData["Title"] = "Create Machine";
}

<div>
    <h1 class="display-3">Create Machine</h1>
</div>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Name" class="control-label h5 text-muted mt-4"></label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Room" class="control-label h5 text-muted mt-4"></label>
        <input asp-for="Room" class="form-control"/>
        <span asp-validation-for="Room" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label h5 text-muted mt-4"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary mt-4 mb-2" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}