html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar {
  background-color: #81BA27 !important;
  /* Maakt de navbar groen */
}

.navbar a.nav-link,
.navbar a.navbar-brand {
  color: white !important;
  /* Zorgt ervoor dat de tekst wit is */
}

/* bootstrap overrides */
.btn-primary {
  color: #fff;
  background-color: #0095D0;
  border-color: #0095D0;
}

.btn-success{
  color: #fff;
  background-color: #81BA27;
  border-color: #81BA27;
}

.text-success {
  color: #81BA27 !important;
}

.text-primary {
  color: #0095D0 !important;
}